.Products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 120px 0 40px 0;
}

.product {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-container {
  height: 200px;
  margin-bottom: 15px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info h3 {
  font-weight: 500;
  font-size: 18px;
}

.product-info h3:last-child {
  margin-top: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 15px;
}

.product button {
  background-color: #764abc;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 7px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.product button:hover {
  background: #764abc linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
